# Virtual environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Byte-compiled
*.pyc
